.board{
    -fx-background-color: #004282;
}

.operator{
    -fx-background-color: #b080d2;
}

.operator:hover{
    -fx-background-color: #8d4faf;
}

.number{
    -fx-background-color: #90ee90;
}

.number:hover{
    -fx-background-color: #4cbb4c;
}

.display{
    -fx-background-color: #dff3ff;
}